.my-nav {
    height: 100px;
    background: gray;
    border: 1px solid black;
}

.weather {
    width: 24px;
    height: 24px;

}

.first-span {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 30px auto;
}

.second-span {
    font-size: 18px;
    color: white;
    margin: 40px 30px;
}

.logo-img {
    width: 500px;
}

.nav-btns {
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-danger {
    width: 75px;
    height: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.btn-warning {
    width: 128px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-nav {
    border: 1px solid black;
}