* {
  font-family: Arial, Helvetica, sans-serif;
}

.card-body-pad {
  padding: 1.25rem 0;
}

.fam-hd {
  font-family: "Roboto Condensed", sans-serif;
  /* font-weight: bold; */
  font-size: 1.125rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-15 {
  font-size: 0.9375rem;
}

.font-17 {
  font-size: 1.0625rem;
}

.bdr-btm-lt {
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
}

.nav-subscribe {
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  /* font-weight: bold; */
}

.my-nav {
  height: 6.25rem;
}

.nav-1 {
  background: #ff0500;
  height: 6.25rem;
}

.my-nav-1 {
  height: 6.25rem;
}

.weather {
  width: 1.5rem;
  height: 24px;
}

.my-nav-weather {
  margin: 20px 20px;
}

.first-span {
  /* font-weight: bold; */
  color: white;
  margin: 50px auto;
  cursor: pointer;
}

.second-span {
  font-size: 18px;
  color: white;
}

.btn-login {
  width: 20%;
  height: 1.875rem;
  background: #f72210;
  color: white;
  border: none;
  /* font-weight: bold; */
  cursor: pointer;
}

.hello {
  width: 12.5rem;
  border: 1px solid black;
}

.love {
  height: 3.125rem;
  border-bottom: 1px solid #f4f5f7;
  border-top: 1px solid #f4f5f7;
  margin-bottom: 20px;
}

.nav-link {
  color: #a0a0a0;
  /* font-weight: bold; */
}

.nav-link:hover {
  color: #f72210;
}

.nav-mid {
  color: black;
  /* font-weight: bold; */
  border-right: 1px solid #a0a0a0;
  height: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-mid:hover {
  color: #f72210;
}

.nav-input {
  width: 3.75rem;
  margin-top: 10px;
  margin-left: 20px;
}

.main-section {
  padding: 0 40px;
}

.section-topic {
  padding: 20px 0;
  margin: 15px 0;
  border-bottom: 1px solid #e6e6e6;
}

.topic-h2 {
  font-size: 19px;
  /* font-weight: bolder; */
}

.n-log {
  padding: 0 9px;
  margin-right: 4px;
  background: red;
  color: white;
  font-size: 1.1875rem;
  /* font-weight: bold; */
}

.card {
  border: none;
}

.feature-img-div {
  position: relative;
}

.feature-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 15px 9px 15px;
  color: red;
  background: #f9f7f8;
  /* font-weight: bold; */
}

.ranking-border {
  border: 1px solid #e6e6e6;
}

.blue {
  color: #3e86f4;
}

.h5-3 {
  padding: 10px 0;
  color: #818181;
  /* font-weight: bold; */
}

.more-card {
  padding: 25px 0;
  border-top: 1px solid #ddd;
}

.more-img-div {
  height: 5.9375rem;
  width: 5.9375rem;
}

/* debate section starts here */

.debate {
  position: relative;
}

.d-card-btm {
  border-bottom: 6px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 15px 0;
  margin-top: 2px;
}

.img-h95 {
  border-radius: 50%;
}

.d-h5 {
  /* font-weight: bold; */
}

.debate-name {
  /* font-weight: bold; */
  padding: 0 10px;
}

.vs {
  position: absolute;
  background: black;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  /* font-weight: bold; */
  bottom: 45%;
  left: 50%;
}

/* opion starts here */

.d-card-top {
  border-top: 6px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
}

.op-img-div {
  height: 3.9375rem;
  width: 3.9375rem;
}

/* In the Magazine starts here */

.feat-body {
  text-align: center;
  background: #dbdcdd;
}

.feat-h5 {
  text-align: center;
  /* font-weight: bold; */
  padding: 8px 0;
}

.red-bg {
  background: red;
  color: white;
  padding: 4px 10px;
  /* font-weight: bold; */
}

.mag-trans {
  color: red;
  padding: 4px 10px;
  /* font-weight: bold; */
}

.mag-tag {
  margin-top: 12px;
}

.cat-card {
  padding: 11px 0;
}

.cat-h3 {
  padding: 20px 0 8px 0;
  color: red;
  /* font-weight: bold; */
  border-top: 1px solid #e0e0e0;
}

.cat-img {
  height: 95px;
  width: 95px;
  object-fit: cover;
}

/* subscribe section starts here */
.sub-wrapper {
  padding: 20px 0;
  border-top: 1px solid gray;
}

.sub-card {
  height: 19.6875rem;
  background: #f4f5f6;
}

.sub-img-div {
  height: 14.1875rem;
  position: relative;
}

.sub-abs {
  position: absolute;
  top: 35px;
  left: 75px;
}

.email-img-div {
  width: 182px;
  height: 315px;
  overflow: hidden;
  /* height: 19.6875rem; */
}

.email-img {
  /* width: 182px; */
  /* height: 315px; */
  /* object-fit: cover; */
}

/* footer starts here */
.footer {
  margin: 30px 0;
  border-top: 2px solid gainsboro;
}

.ft-logo {
  max-width: 14.875rem;
  max-height: 2.3125rem;
}

.ft-icon {
  font-size: 1.375rem;
  padding: 0 5px;
  color: gray;
}

.ft-span-div {
  padding-left: 10px;
}

.fsd-top {
  border-top: 1px solid #d2d2d2;
}

.ft-span {
  padding: 0 10px;
  font-size: 13px;
  border-right: 1px solid #ccc;
  margin: 5px;
}

/* devices less 568px and down */

@media (max-width: 568px) {
  .nav-subscribe {
    color: black;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
  }
}

/* // Medium devices (tablets, 768px and down) */
@media (max-width: 992px) {
  .nav-1 {
    height: 50px;
  }

  .sub-card {
    position: relative;
    justify-content: center;
  }

  .sub-body {
    position: absolute;
    text-align: center;
    bottom: 15px;
  }

  .email-img-div {
    width: 191px;
    height: 232px;
    overflow: hidden;
    /* height: 19.6875rem; */
  }

  .main-section {
    padding: 0 20px;
  }

  .my-nav-1 {
    height: 50px;
    width: 145px;
  }
}
